@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Big Shoulders Display', cursive;
}

.navbarMain{
  padding: 2%;
  display: flex;
  background-color: #33dbff;

}

.navbarMainListBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbarMainListBox-item {
  list-style: none;
  padding: 3px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  font-size: 150%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;

}

.navbarMainListBox-item:nth-of-type(1) {
  margin-right: auto;
}

.navbarMainListBox-item:nth-of-type(3) {
  margin-right: auto;
  margin-left: 3px;
}

.navbarMainListBox-item:nth-of-type(4) {
  margin-right: auto;
}

.homeMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeMain-slogan{
  color: #f88;
  size: 120%;
}

/*
  MovieList component styling
*/
.movieListMain{
  margin: 0;
} 

.movieListMain-filmBox{
  display: flex;
  flex-direction: column;
  border: .5px solid tomato;
  align-items: center;
  max-width: 120ch;
  min-height: 80vh;
  text-align: center;
  justify-content: space-around;
  margin: 2%;
}

.movieListMain-filmBox h2 {
  color: #33dbff;
  letter-spacing: 3px;
  border-bottom: 2px solid #33dbff;
  margin:0;

}

.movieListMain-filmBox-filmOverview {
  margin:0;
}

.movieListMain-filmBox-img{
  max-width: 50%;
}

.movieListMain-filmBox-btn{
  color: royalblue;
  padding: 2px;
}

.noTrailerDiv {
  margin: 0;
}

/*
  Search films component
*/

.searchFilmsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFilmsMain a {
  text-decoration: none;
}


.searchFilmsMain-resultsBox {
  display: flex;
  flex-direction: column;

}

.searchFilmsMain-resultsBox--item {
  display: flex;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-size: 120%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid purp;
  margin-top: 5px;
  margin-bottom: 5px;
}


/*
  Film review tile
*/

.filmReviewTile-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filmReviewTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 120ch;
  font-size: 120%;
}


/*
  About component
*/

.aboutMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMain a {
  text-decoration: none;
  color: #33dbff;
}

/*
  public comments component
*/

.publicCommentsMain{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.publicCommentsMainBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .5px solid#f88;
  min-width: 50%;
  margin-top: 5px;
}